---
layout: search
---
<form id="searchForm" class="input-group input-group-lg" action="https://duckduckgo.com" method="GET">
	<div class="dropdown mx-auto mb-2">
		<button class="btn btn-lg border border-right-0 search-engine" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img id="sel" src="{{ "/assets/search/ddg.svg" | relative_url }}" alt="DuckDuckGo"/></button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			{% for entry in site.data.search-engines %}
				<a class="dropdown-item" href="#" onclick="saveSearch('{{ entry.key }}');"><img class="mr-2" src="{{ "/assets/search/" | relative_url }}{{ entry.image }}"/>{{ entry.name }}</a>
			{% endfor %}
		</div>
	</div>
	<input id="searchbox" class="form-control mx-auto mb-2 mr-md-2" type="text" name="q" lang="en" placeholder="Search the web"/>
	<button class="btn btn-primary mx-auto mb-2 d-flex align-items-center" type="submit">
		{% include search.svg %}
		<span class="ml-1 d-none d-sm-block" lang="en">Search</span>
	</button>
</form>
