<footer class="global-footer">
	<div class="container">
		<div class="row">
		<div class="col-12 col-md-4 text-md-left text-center my-auto">
			{% assign random = site.time | date: "%s%N" | modulo: site.data.sponsors.size %}
			<a href="https://en.opensuse.org/Sponsors"><img src="{{ "/assets/images/" | relative_url }}{{ site.data.sponsors[random].image }}" title="Project sponsored by {{ site.data.sponsors[random].name }}" alt="{{ site.data.sponsors[random].name }}" class="sponsor-logo-small mr-3"></a>
		</div>
		<div class="col-12 col-md-4 text-center my-auto">
			<span>&copy; 2011&ndash;2024</span> <span lang="en">openSUSE contributors</span>
		</div>
		<div class="col-12 col-md-4 text-md-right text-center my-auto">
				<div class="btn-group dropup">
				<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="selected-language">English</span>
				</button>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
					{%- for lang in site.languages %}
						<li><a href="#" class="dropdown-item" id="change-language" data-language-value="{{ lang.short }}">{{ lang.name }}</a></li>
					{%- endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
