<div class="modal fade" id="search-config-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel" lang="en">Change search provider</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body input-group input-group-lg">
						<select id="sel" class="form-control py-0" onchange="saveSearch(this.value);">
							<option value="https://www.qwant.com/">Qwant</option>
							<option value="https://google.com/search">Google</option>
							<option value="https://duckduckgo.com/">DuckDuckGo</option>
							<option value="https://bing.com/">Bing</option>
							<option value="https://yahoo.com/search">Yahoo</option>
							<option value="https://startpage.com/do/search">Startpage</option>
						</select>
						
					</div>
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel" lang="en">Select the theme</h5>
					</div>
					<div class="modal-body input-group input-group-lg">
						<select id="theme" class="form-control py-0" onchange="saveTheme(this.value);">
							<option lang="en" value="light">Light</option>
							<option lang="en" value="dark">Dark</option>
							<option lang="en" value="geeko">Geeko</option>
							<option lang="en" value="counter">Counter</option>
							<option lang="en" value="counter-dark">Counter Dark</option>
						</select>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" lang="en" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" lang="en" data-dismiss="modal">Save</button>
					</div>
				</div>
			</div>
		</div>
