html,
body {
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.search-engine {
  height: 3rem;
}

.sponsor-logo-small {
  height: 2rem;
}

#searchForm #dropdownMenuButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#searchForm #searchbox {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
