---
layout: default
---
<div class="container d-flex h-100 flex-fill">
  <div class="my-auto w-100">
    {{ content }}
  </div>
</div>
<div class="alert alert-info container" role="alert">
  <div class="d-inline d-sm-flex align-items-center mx-auto justify-content-center">
    <a class="font-weight-bold d-inline d-sm-flex align-items-center mr-1" href="//news.opensuse.org">
      {% include news.svg %}
      <span class="ml-1 d-none d-sm-block"">News:</span>
    </a>
    {% assign item = site.rss | first %}
    <a href="{{ item.link }}">{{ item.title }}</a>
  </div>
</div>
<script defer src="/assets/js/jquery.js"></script>
<script defer src="/assets/js/jquery.lang.js"></script>
<script defer src="/assets/js/search_methods.js"></script>
